:root {
  --accent-color: #dba665;
  --accent-peach: #f9594f;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

.wrapper {
  padding: 1.5em;
}

a {
  text-decoration: none;
  font-size: 1.2em;
  padding: .7em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

nav > a {
  color: rgb(112, 112, 112);
  cursor: pointer;
}

nav > a:hover {
  color: var(--accent-color);
}

.btn {
 background-color: var(--accent-peach);
 color: #fff;
 outline: none;
 border: none;
 padding: 1em;
}

/* Hero */

.hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
}